<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freecommentSQL">


	<insert id="commentWrite" parameterType="freecomment">
		insert into
		FreeComment(fc_email,fc_name,fc_commentContent,fc_FreeBoardseq,fc_logtime)
		values(#{fc_email},#{fc_name},#{fc_commentContent},#{fc_FreeBoardseq},now());
	</insert>


	<select id="userComment" parameterType="freecomment" resultType="freecomment">
		select * from FreeComment 
	</select>


	<delete id="commentDelete" parameterType="java.lang.Integer">
		delete from FreeComment where fc_seq = #{fc_seqi};
	</delete>
</mapper>