<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="userSQL">
  
  	<insert id="write" parameterType="user">
  		insert into USER(seq,name,password,email,age,gender,logtime)
		values((select * from (select max(seq)+1 from USER) next),#{name},#{password},#{email},#{age},#{gender},now());
  	</insert>
  	
  	<!--########################유진시작###########################  -->
  	<select id="emailCheck" parameterType="String" resultType="user">
  		select * from USER where email = #{email};
  	</select>
  	
  	<select id="nameCheck" parameterType="String" resultType="user">
  		select * from USER where name = #{name};
  	</select>
  	
  	<update id="userUpdate" parameterType="user">
  		update USER set name=#{name}, email=#{email},password=#{password}, age=#{age}, gender=#{gender} where email=#{email};
  	</update>
  	
  	<select id="userInfo" parameterType="user" resultType="user">
  		select * from USER where email = #{email};
  	</select>
  	
  	<insert id="userMbtiTypeResult" parameterType="mbtiType">
  		insert into MbtiType(mbti_email, mbti_type, mbti_EI, mbti_NS, mbti_TF, mbti_JP, mbti_AT, mbti_logtime)
		values(#{mbti_email},#{mbti_type},#{mbti_EI},#{mbti_NS},#{mbti_TF},#{mbti_JP},#{mbti_AT},now());
  	</insert>
  	
  	<select id="userInfoDeleteCheck" parameterType="String" resultType="user">
  	select * from USER where email = #{email};
  	</select>
  	
  	<delete id="userInfoDelete" parameterType="String">
  		delete from USER where email = #{email};
  	</delete>
  	
  	<select id="userInfoMain" parameterType="String" resultType="mbtiType">
  		select * from MbtiType where mbti_email= #{mbti_email};
  	</select>
  	
  	<select id="userMbtiTypeResultCheck" parameterType="String" resultType="mbtiType">
  		select * from MbtiType where mbti_email= #{mbti_email};
  	</select>
  	
  	<update id="userMbtiTypeResultUpdate" parameterType="mbtiType">
  		update MbtiType set mbti_type=#{mbti_type},mbti_EI=#{mbti_EI}, mbti_NS=#{mbti_NS}, mbti_TF=#{mbti_TF}, mbti_JP=#{mbti_JP}, mbti_AT=#{mbti_AT} where mbti_email=#{mbti_email};
  	</update>
  	<!--########################유진시작###########################  -->
	
  	<!-- 회원 탈퇴 -->
  	<!-- 
  	<delete id="" parameterType="String">
  		delete USER where email = #{email}
  	</delete>
  	 -->
  	
  	<select id="loginCheck" parameterType="java.util.Map" resultType="user">
  		select * from USER where email=#{email} and password=#{password}
  	</select>
  	
  	<select id="findPasswordEmailCheck" parameterType="java.util.Map" resultType="user">
  		select * from USER where email=#{email}
  	</select>
  	
	<select id="getpassword" parameterType="String" resultType="String">
		select password from USER where email=#{email} 
	</select>
	
  </mapper>