.resultBg {
  background-color : #fff;
}
section div.resultMain {
  color : white;
  margin : 0 30px;
  display : inline-block;
  padding-top : 50px;
}

section div.resultMain div {
  margin : auto;
}

