

.Header {
    position: fixed;
    left : 0;
    top : 0;
    width: 100%;
    height: 90px;
    background-color: white;
    z-index: 99;
}

.LogoImg {
    width: 45%;
    height: 100%;
    padding-top : 9px;

}

.Menubar {
    display: inline-flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin : 0px auto;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.Navigation {
    font-size: 1rem !important;
}

.Navigation ul {
   display: flex;
   list-style: none;
   height: 100%;
   margin-bottom: 0px !important;
   padding-left: 0px !important;
}

.Navigation ul li {
    margin-left: 20px;
    height: 100%;
    

}

.Navigation .MenuBarSub:hover {
    border-top: 4px solid #F19904;
    transition: opacity .2s ease-in-out .1s;
    padding-top: 33px;
    
}

.Login {
    display: flex;
}

.LoginBtn {
    font-size: 16px;
    height: 50px;
    border : none;
    outline: none;
    background-color: white;
}

.UserBtn {
    font-size: 16px;
    padding: 13px 30px;
    margin-left : 5px;

}