.modal_dialog{
    background-color: #fff;
    border-radius: 10px;
    max-height: 90vh;
    max-width: 540px;
    position: relative;
    text-align: center;
    width: 90%;
    width: calc(100% - 30px);
    
}
.login_form{
    display: block;
    margin-top: 0em;
}
.login_head{
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;

}
.modal_title{
    font-size: 1.75rem;
    line-height: 1.5714;
    margin: 0;
    color: #51596a;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
}
.login_body{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 60px;
    padding-right: 60px;
}
.p_tag{
    line-height: 1.8;
    margin-bottom: 17px;
    margin-top: 0;
    font-size: 16px;
    margin: 0px 0px 17px;
    color: #51596a;
}
.login_email_input{
    margin-bottom: 20px;
    text-align: left;
}
.login_label_tag{
    line-height: 1.75;
    margin-bottom: 10px;
    font-size: 1rem;
    display: block;
    font-weight: 600;
}
.input_row{
    align-items: center;
    display: flex;
    position: relative;
    box-sizing: border-box;
    
}
.login_input_tag{
    padding-left: 53px;
    flex-grow: 1;
    font-size: 1.125rem;
    line-height: 1.556;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #cccfd4;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgb(81 89 106 / 5%);
    color: #51596a;
    height: 60px;
    max-width: 100%;
    outline: 0;
    padding: 15px 25px;
    height: 33px;
    padding: 15px 25px 15px 53px;
    /*transition: border-color .2s*/
    
}
.login_input_tag:focus{
    border-color: #4298b4;
}
.input_icon{
    height: 50px;
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 18px;
    box-sizing: border-box;
}
.icon{
    width: 19px;
    margin-top: 22px;
    margin-left: 7px;
}
.input_note{
    color: #89909b;
    font-size: .875rem;
    line-height: 1.857143;
    margin-bottom: 0;
    margin-top: 5px;
}
input::placeholder{
    color: darkgrey;
}
.login_bottom{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
}
.login_Btn{
    vertical-align: middle;
    min-width: 250px;
    background-color: #88619a;
    border-color: #88619a;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    height: 50px;
    line-height: 1.75;
    padding: 28px 40px;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    justify-content: center;
    line-height: 2;
    outline: 0;
    text-decoration: none;
    width: auto;
    
}
.font-size{
    font-size: 20px;
}
.find_password_Btn{
    margin-top: 20px;
    padding-top: 0;
    cursor: pointer;
    vertical-align: middle;
    background: 0 0;
    border: none;
    border-radius: 0;
    display: inline;
    font-weight: 400;
    height: auto;
    line-height: unset;
    padding: 0;
    color: #4298b4;
    outline: 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: .325em;
    transition: all .2s;
    font-size: 16px;
}
/*.sp_modal{
    align-items: center;
    bottom: 0;
    display: flex;
    
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 53;
}
*/
.link_login{
    color: #4298b4;
}
.modaltest{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.kakao_btn{
    background-image: url("/src/image/kakao_login_button.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 17px auto;
    color:transparent;
    width: 250px;
    height: 60px;
    border-radius: 40px;
}

