.BoardWriteContent {
    padding-top:  130px;
    text-align: center;
    width: 50%;
    position: relative;
    margin: 0 auto;
    height: auto;
}

.BoardWriteArea {
    width: 100%;
    position: relative;
    padding-top: 60px;  

}

.BoardWriteEditor {
    position: relative;
    width: 100%;
}

.BoardWriteSubject {

    margin: 0 auto;
    width: 100%;
    background-color: white;
    margin-bottom: 50px;

}

.writeSubject  {
    display: inline;
    float: left;
    margin: 0;
    padding: 0 10px 0 50px;
    width: 120px;
    line-height: 30px;
    color: #545861;
    font-size: 13px;
    font-weight: bold;
}


.star {
    color: red;
    font-weight: normal;
    font-size: 12px;
}

.attr-subject {
    text-align: left;
    padding: 0;
    line-height: 30px;
    font-size: 13px;
    
}

.subject-text  {
    width: 70%;
    display: inline;
    margin: 0;
    padding: 0px 5px 0px 20px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: #666666;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #dcdcdc;
    box-shadow: none;
    background: none;
    background-color: transparent;
    box-sizing: content-box;
    vertical-align: top;


}

.freeboard_subject {
    float: left;
    font-size: 0.8em;
    color: red;
    padding-top: 5px;
    padding-left: 21px;
}

.BoardEditor {
    width: 100%;
    height: 330px;

}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    
    min-height: 300px;
    max-height: 300px;

  }

.boardWriteListBtn, .boardWriteSaveBtn {
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    background: #222 !important;
    color: #FFF !important;
    padding : 0px 10px;
}

.boardWriteSaveBtn {
    margin-left: 630px;
}



  