.myPage{
    margin:0 auto;
    max-width:1200px;
    width:100%}
.myPage{
    margin:0 auto;  
    max-width:1200px;
    padding:0 15px;
    width:100%}
.myPage h1{
    padding-left:0;
        padding-right:0}
.myPage{
    margin:0 auto;
    max-width:1200px;
    width:100%;
    padding-top: 130px;
}

.myPageTop {
    width: 100%;
    height: 200px;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-position: 0%;
    position: relative;
}

.myPageTop h1 {color: #51596a;
                font-size:2.9em;
                font-weight:600;
                position: absolute;
                top: 12%;
                left: -30px;}

.myPageSection {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

}

.myPageContent ,.myPageContent2{
    position: relative;
    margin-bottom: 50px;
   
}

.myPageContent2, .myPageContent3 {
    position: relative;
    margin-bottom: 50px;
    border-top: 1px solid #d2d2d2;
}

.myPageContent3 {
    border-bottom: 1px solid #d2d2d2;
    
}
.myPageContentSub ,.myPageContentSub2 ,.myPageContentSub3{
    align-items: center;
    display: flex;
}

.ContentSub_3 {
    margin-bottom: 50px;
}

.ContentSub_Title ,.ContentSub_Title2, .ContentSub_Title3{
    font-size: 2rem;
    font-weight: 600;
    color: dimgray;
    margin-bottom: 10px;
    margin-top: 30px;
}

.ContentSub_email, .ContentSub_Mbti {
    font-size: 1.2rem;
    font-weight: 500;
    color: dimgray;
    margin-bottom: 10px;
}

.ContentSub_Sub ,.ContentSub_Sub2, .ContentSub_Sub3{
    color: #7f7f7f;
}

.ContentSub_Btn {
    position :absolute;
    right: 0;
}


.UserEditBtn {
    min-width: 260px !important;
    font-size: 18px !important;
    height: 60px !important;
    padding: 15px 40px !important;
    background-color: #F19904 !important;
    border-color: #F19904 !important;
    border-radius: 40px !important;
    align-items: center !important;
    border: 1px solid transparent !important;
    color: #fff !important;
    display: inline-flex !important;
    font-weight: 600 !important;
    justify-content: center !important;
    line-height: 2 !important;
    outline: 0 !important;
    text-decoration: none !important;
    transition: all .2s ease-in-out !important;
    vertical-align: middle !important;
    width: auto !important;
}

.UserDeleteBtn {
    min-width: 260px !important;
    font-size: 18px !important;
    height: 60px !important;
    padding: 15px 40px !important;
    background-color: #f64040 !important;
    border-color: #f64040 !important;
    border-radius: 40px !important;
    align-items: center !important;
    border: 1px solid transparent !important;
    color: #fff !important;
    display: inline-flex !important;
    font-weight: 600 !important;
    justify-content: center !important;
    line-height: 2 !important;
    outline: 0 !important;
    text-decoration: none !important;
    transition: all .2s ease-in-out !important;
    vertical-align: middle !important;
    width: auto !important;

}

.UserJoinTime {
    color: dimgray;
}

.SubmitBtn {
    background-color: #F19904 !important;
    border-color: #F19904 !important;
}

.DeleteSubmitBtn {
    background-color: #f64040 !important;
    border-color: #f64040 !important;
}

.ModalBox {
    padding-top: 150px !important; 
}

