<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.mbti.MBTI.user.bean.UserDTO" alias="user"/>
		<typeAlias type="com.mbti.MBTI.board.bean.FreeBoardDTO" alias="freeBoard2"/>
		<typeAlias type="com.mbti.MBTI.board.bean.MbtiBoardDTO" alias="MbtiBoard2"/>
		<typeAlias type="com.mbti.MBTI.FreeComment.bean.FreeCommentDTO" alias="freecomment"/>
		<typeAlias type="com.mbti.MBTI.freeboard.bean.FreeBoardDTO" alias="freeboard"/>
		<typeAlias type="com.mbti.MBTI.user.bean.MbtiTypeDTO" alias="mbtiType"/>
		<typeAlias type="com.mbti.MBTI.mbtiboard.bean.MbtiBoardDTO" alias="mbtiboard"/>
	</typeAliases>
	
	
	<mappers>
	</mappers>
</configuration>